<%= form_for [ @article, @comment ] do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <fieldset class="field form-group">
      <%= f.label :author_name, "Your name" %><br>
    <%= f.text_field :author_name, class:'form-control' %>
  </fieldset>
  <fieldset class="field form-group">
      <%= f.label :body, "Your comment" %><br>
      <%= f.text_area :body, class:'form-control content-field-comment' %>
  </fieldset>

  <div class="actions">
      <%= f.submit %>
  </div>
  
</form>
  


<% end %>
