            <% @articles.each do |article| %>
            <div class="card animated flipInX">
                <% if logged_in? %>
                <nav class="cd-stretchy-nav edit-content">
			<a class="cd-nav-trigger" href="">
			</a>
			<ul>
				<li><%= link_to raw("<i class=\"fa fa-pencil\"></i>"), edit_article_path(article),'data-toggle' => "tooltip", 'data-placement' => "left", 'title' => "Edit Article" %></li>
				<li> <%= link_to raw("<i class=\"fa fa-trash\"></i>") , article, method: :delete, data: { confirm: 'Are you sure?' }, :form => { :id => "button-delete" },'data-toggle' => "tooltip", 'data-placement' => "left", 'title' => "Delete Article" %></li>
			</ul>
			<span aria-hidden="true" class="stretchy-nav-bg"></span>
		</nav>
                <% end %>
                <div class="card-block index-maxheight">
                    <h4 class="card-title"><%= link_to article.title, article %></h4>
                    <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
                </div>
                <div class="card-footer text-muted " style="height: 50px;overflow:hidden;">
                    <p class="col-md-6 text-xs-left" style="margin-bottom:0px;">
                        Tags:
                        <% article.tags.each do |tag| %>
                        <%= link_to tag.name, tag_path(tag), class:'label label-default' %>
                        <% end %>
                    </p>             
                    <p class="col-md-6 text-xs-right" style="margin-bottom:0px;font-size: 0.7rem;margin-top:5px;"> 
                        <% if article.created_at == article.updated_at %>
                        Created by: Vanhensy - On: <%= article.created_at %>
                        <% else %>
                        Updated by: Vanhensy - On: <%= article.updated_at %>
                        <% end %>
                    </p>
                </div>
            </div>
            <% end %>
        

   
