<p id="notice"><%= notice %></p>


<div class="container" id ="blog-body"> 
    <div class="row"> 
        <div class="col-md-8">
            
            <% @articles.each do |article| %>
            <div class="card animated slideInUp">
                <div class="card-block index-maxheight">
                    <h4 class="card-title"><%= link_to article.title, article %></h4>
                    <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
                </div>
                <div class="card-footer text-muted text-xs-right">
                    <%= link_to raw("<i class=\"fa fa-pencil\"></i> Edit Post"), edit_article_path(article), class: 'btn btn-sm btn-success-outline' %>
                    <%= button_to "Delete" , article, method: :delete,  class: 'btn btn-sm btn-danger-outline', :form => { :id => "button-delete" } %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="col-md-4" id="sidebar">
                <div class="card">
          <%= image_tag("blog-image.gif", :alt => "Sidebar Image", class: 'card-img-top') %>
          <div class="card-block" style="padding-top:0px;margin-top:-20px">
            <h4 class="card-title">Vanhensy's Blog </h4>
            <p class="card-text introduction" style="text-align: justify;">This is my prework for Ruby class of Coderschool. Thank @Charles for give me this chance. I've improved it a little bit to make sure that I'm good enough to join this class.</p>
          </div>
        <div class="card-footer text-muted text-xs-center">
            <a class="btn btn-info"><i class="fa fa-github-alt"></i> Visit His Github</a>
                </div>
        </div>
        <div class="card">
                <div class="card-block">
                <%= link_to 'New Article', new_article_path, class: 'btn btn-sm btn-warning-outline' %>  
                    
                </div>
            </div>
            
            
        </div>
    </div>
<br>
  
</div>
