
<div class="col-md-12"> 
    <div class="card">
    <div class="card-header"> 
    Listing Authors
    </div>
    <div class="card-block">
        <table class="table table-striped">
  <thead class="thead">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %></td>
        <td><%= author.email %></td>
          <td><%= link_to raw('<i class="fa fa-external-link-square"></i>  Show'), author,class:'btn btn-sm btn-info-outline' %>
              <%= link_to raw('<i class="fa fa-pencil-square"></i>  Edit'), edit_author_path(author), class:'btn btn-sm btn-warning-outline' %>
              <%= link_to raw('<i class="fa fa-minus-square"></i>  Delete'), author, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-sm btn-danger-outline'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
    <div class="card-footer text-xs-right">
        <%= link_to raw('<i class="fa fa-plus"></i>  New Author'), new_author_path, class:'btn btn-sm btn-success' %>
    </div>
    </div>


<br>

</div>



